scope: microshift-postgres
name: {{ .Hostname }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ .NodeIP }}:8008

raft:
  data_dir: {{ .DataDir }}/patroni/raft
  self_addr: {{ .NodeIP }}:8009
{{ if .IncludePartner }}  partner_addrs:
    - {{ .PeerIP }}:8009
{{ end }}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 0
    synchronous_mode: true
    synchronous_mode_strict: false
    failsafe_mode: true
    postgresql:
      use_pg_rewind: true
      parameters:
        wal_level: replica
        max_wal_senders: 3
        synchronous_commit: remote_apply
        synchronous_standby_names: '*'
        max_connections: 20
        shared_buffers: 128MB
        effective_cache_size: 256MB
        work_mem: 4MB
        maintenance_work_mem: 64MB
        wal_keep_size: 256MB
        max_wal_size: 512MB
        wal_sender_timeout: 30s
        wal_receiver_timeout: 30s
        listen_addresses: '*'

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - local all all peer
    - host all all 127.0.0.1/32 scram-sha-256
    - host replication {{ .ReplicationUser }} {{ .NodeIP }}/32 scram-sha-256
    - host replication {{ .ReplicationUser }} {{ .PeerIP }}/32 scram-sha-256
    - host {{ .Database }} {{ .DatabaseUser }} 127.0.0.1/32 scram-sha-256
    - host {{ .Database }} {{ .DatabaseUser }} {{ .NodeIP }}/32 scram-sha-256
    - host {{ .Database }} {{ .DatabaseUser }} {{ .PeerIP }}/32 scram-sha-256

  users:
    {{ .DatabaseUser }}:
      password: {{ .DatabasePassword }}
      options:
        - createrole
        - createdb
    {{ .ReplicationUser }}:
      password: {{ .ReplicationPassword }}
      options:
        - replication

postgresql:
  listen: 0.0.0.0:{{ .Port }}
  connect_address: {{ .NodeIP }}:{{ .Port }}
  data_dir: {{ .DataDir }}/postgres/data
  pgpass: {{ .DataDir }}/postgres/pgpass
  authentication:
    superuser:
      username: postgres
      password: {{ .SuperuserPassword }}
    replication:
      username: {{ .ReplicationUser }}
      password: {{ .ReplicationPassword }}
  parameters:
    unix_socket_directories: /var/run/postgresql

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
